body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    margin: 20px 0;
}

.year-tabs, .scene-tabs {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.year-tabs li, .scene-tabs li {
    display: inline;
    margin: 0 5px;
}

.year-tabs li a, .scene-tabs li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.year-tabs li a:hover, .scene-tabs li a:hover, .year-tabs li a.active, .scene-tabs li a.active {
    background-color: #007bff;
    color: #ffffff;
}

main {
    padding: 20px;
}

.scene {
    margin: 40px 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Hide all scenes by default */
}

.scene.active {
    display: block; /* Show the active scene */
}

.scene h2 {
    margin-top: 0;
}

.scene div {
    flex-grow: 1;
}

aside {
    max-width: 300px;
    margin-left: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

label {
    margin-right: 10px;
}

select {
    margin-right: 20px;
}

#chartsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#chartsContainer div {
    flex: 1 1 50%;
}

#comparisonChart {
    margin-top: 20px;
}

#comparisonChart svg {
    width: 100%;
    height: auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 20px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.state-label {
    font: 12px sans-serif;
}
